@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.leaflet-container {
  width: 100%;
  height: 500px;
}
.errorpage {
  padding-bottom: 249px;
}
.ikonice {
  box-shadow: inset 0px 0px 5px 5px rgba(34, 35, 58, 0.4);
  padding: 40px;
  border-radius: 30px;
  overflow: hidden;
}
.logopocetna {
  box-shadow: inset 0px 0px 5px 5px rgba(34, 35, 58, 0.4);
  padding: 16px;
  border-radius: 30px;
  overflow: hidden;
  height: 500px;
  background-image: url("./images/pozadina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.administracija {
  box-shadow: inset 0px 0px 5px 5px rgba(34, 35, 58, 0.4);
  padding: 40px;
  border-radius: 30px;
  overflow: hidden;
}
.react-datepicker {
  box-shadow: 0px 0px 5px 1px rgba(34, 35, 58, 0.4);
}
/* printanje tablice rezervacija remove 2 retka zadnja */
@media print {
  .mogucnostiText {
    display: none;
  }
  .mogucnostiButton {
    display: none;
  }
}
.rezervacija {
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.4);
  padding: 40px;
  border-radius: 15px;
  transition: all 0.3s;
}
.adminpanel {
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.4);
  padding: 40px;
  border-radius: 15px;
  transition: all 0.3s;
}
.pocetna {
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.4);
  padding: 40px;
  border-radius: 15px;
  transition: all 0.3s;
}
.logo {
  background-image: url("./images/logo.png");
  width: 26px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}
.Toastify__toast--dark {
  background: #ccd4a6 !important;
  color: black !important;
}
.Toastify__progress-bar--dark {
  background: black !important;
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  color: white !important;
  background-color: red !important;
}
.react-datepicker__day--selected {
  background-color: green !important;
}
.react-datepicker__close-icon:after {
  background-color: green !important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: green !important;
}
footer {
  background: #eff1f5;
  box-shadow: 0 -1px 2px 0 black;
  min-height: 132px;
  text-align: center;
  padding: 32px;
}
footer .logo {
  margin: 0 auto 10px auto;
}
.footerikone a {
  text-decoration: none;
  color: black;
  margin: 10px;
}
.footerikone a:hover {
  color: #3b6b35;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='583' height='70' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='5.9' stroke-opacity='0.01'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.footer {
  background-color: #bfaa72 !important;
  margin-top: 55px;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
}

::-webkit-scrollbar-track {
  background: #666;
}
.navbar .router-link-exact-active {
  color: #041433;
  border-bottom: 3px solid #80734f;
}
.navbar-light .navbar-nav .nav-link {
  color: black !important;
}
.navbar-nav .nav-link {
  color: #041433;
  box-sizing: border-box;
  margin: 0 40px 0 0;
  font-weight: 400;
}
.navbar {
  background-color: #bfaa72 !important;
  box-shadow: 0 1px 3px 0 black;
}
.btn-primary {
  background-color: #3b6b35 !important;
  border: 0px solid black !important;
}
.btn-danger {
  border: 0px solid black !important;
  background-color: #4c4a41 !important;
}
.btn-danger:active,
.btn-danger:focus {
  outline: none !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75) !important;
}
.btn-primary:active,
.btn-primary:focus {
  outline: none !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75) !important;
}
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:focus {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75) !important;
}
.buttonBrisanje {
  background-color: red !important;
  margin-right: 5px;
}
@media (min-width: 576px) {
  .container {
    max-width: inherit;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 767px) {
  .nav-item {
    margin-bottom: 1rem;
  }
  .navbar-collapse {
    overflow: hidden;
  }
  .nav-item .nav-link {
    padding: 0 0 0 5px;
  }
  .nav-item .nav-link.router-link-exact-active {
    border-bottom: 0;
    border-left: 0px solid #80734f;
    padding-left: 13px !important;
    vertical-align: middle;
  }
  .navbar .router-link-exact-active {
    color: #041433;
    border-bottom: 2px solid #80734f;
    margin-bottom: 8px !important;
  }
  .navbar-nav .nav-link {
    margin: 10px 50px 0 0;
  }
  .nav-link {
    padding-bottom: 10px !important;
  }
  .navbar-brand {
    margin-left: 2.5rem;
    vertical-align: top;
  }
  .navbar-nav .btn-danger {
    margin-top: 10px;
  }
  .navbar-toggler {
    margin-right: 2.5rem;
  }
  .navbar-nav:first-child {
    margin-top: 1.5em;
  }
  .navbar-nav:last-child li {
    margin-bottom: 1em;
  }
  .navbar-nav:last-child li .icon {
    margin-right: 1em;
    vertical-align: middle;
  }
  .navbar-nav:last-child li a {
    vertical-align: middle;
    color: #041433;
  }
  .navbar-nav .btn-link {
    padding: 0;
    color: #7ea0e4;
    min-width: 0;
  }
}
@media only screen and (min-width: 768px) {
  .result-block {
    min-width: 700px;
  }
}
html {
  font-size: 16px;
}
body {
  color: black;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h6.muted {
  color: #6c757d;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
